*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.list{

    list-style: none;

}
.li-el{
    background-color: pink;
    color: darkmagenta;
    cursor: pointer;
}
.favorite{
    border: 2px solid darkmagenta;
    
}